<form [formGroup]="searchFieldsForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName" />
      </mat-form-field>
    </div>

    <div class="col-auto">
      <mat-form-field>
        <input
          matInput
          placeholder="Start date"
          formControlName="startDate"
          [matDatepicker]="startDatePicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-auto">
      <mat-form-field>
        <input
          matInput
          placeholder="End date"
          formControlName="endDate"
          [matDatepicker]="endDatePicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-auto">
      <mat-form-field>
        <input
          matInput
          placeholder="Max balance"
          formControlName="maxBalance"
          type="number"
          class="example-right-align"
        />
        <span matPrefix>€&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>

    <div class="col-auto">
      <mat-form-field>
        <input
          matInput
          placeholder="Min balance"
          formControlName="minBalance"
          type="number"
          class="example-right-align"
        />
        <span matPrefix>€&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
  </div>
</form>
