<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Balance</th>
      <th scope="col">Gender</th>
      <th scope="col">Registered</th>
      <th scope="col">Is active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;">
      <td>{{ user.name.first }} {{ user.name.second }}</td>
      <td>€ {{ user.balance }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.registered }}</td>
      <td>{{ user.isActive }}</td>
    </tr>
  </tbody>
</table>
