/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/@angular/material/theming';

@include mat-core();

$sg-app-primary: mat-palette($mat-indigo);
$sg-app-accent: mat-palette($mat-pink, A200, A100, A400);
$sg-app-theme: mat-light-theme($sg-app-primary, $sg-app-accent);

@function my-mat-light-theme-foreground($color) {
  @return (
    base: $color,
    divider: $white-12-opacity,
    dividers: $white-12-opacity,
    disabled: rgba($color, 0.38),
    disabled-button: rgba($color, 0.38),
    disabled-text: rgba($color, 0.38),
    hint-text: rgba($color, 0.38),
    secondary-text: rgba($color, 0.54),
    icon: rgba($color, 0.54),
    icons: rgba($color, 0.54),
    text: rgba($color, 0.87),
    slider-off: rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38),
    slider-min: rgba($color, 0.38)
  );
}

$white-foreground: my-mat-light-theme-foreground(white);
$my-app-theme-custom: map-merge(
  $sg-app-theme,
  (
    foreground: $white-foreground
  )
);

@include mat-datepicker-theme($my-app-theme-custom);
@include angular-material-theme($my-app-theme-custom);

.mat-datepicker-content {
  background-color: #4b545d !important;
}
